{% extends 'includes.html' %}
{% block content %}

<style>
.sale-statictic-area{
  background: #fff !important;
}
.form-example-area{
  background: #fff !important;
}
.realtime-statictic-area{
  background: #fff !important;
}
.normal-table-list.mg-t-30{
  border: 1px solid rgba(0,0,0,.12) !important;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #fff !important;
}
.changecolor{
      color: #616161 !important;
}
div#data-table-basic_filter {
    display: none;
}
.space{
  margin:8px;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid #008C7D;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  margin-right: 10px;
  margin-top: 3px;
}
input[type="checkbox"]:checked + label:before {
  background: #008C7D;
  color: #fff;
  content: "\2713";
  text-align: center;
  margin-right: 10px;
  margin-top: 3px;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
label {
    display: inline !important;
}
.table.table-striped>tbody>tr>td, .table.table-striped>tbody>tr>th, .table.table-striped>tfoot>tr>td, .table.table-striped>tfoot>tr>th, .table.table-striped>thead>tr>td, .table.table-striped>thead>tr>th {
    font-size: 14px !important;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #fff !important;
}
.changecolor{
      color: #616161 !important;
}
div#data-table-basic_filter {
    display: none;
}
</style>


    <div class="form-example-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap mg-t-30">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h2 style="float:left">Builds List</h2>
                            <h2 style="float:right;"><a href="javascript:" style="color: #00867B !important;" data-toggle="modal" data-target="#buildmodal">Add Build</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale statictic area-->

    <div class="realtime-statictic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="data-table-list" >
                      <div class="table-responsive">
                        <div style="position:absolute !important"><h4 id="build_beside_search"></h4></div>
                          <table id="data-table-basic" class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>SNO</th>
                                      <th>Build ID</th>
                                      <th>Build</th>
                                      <th>Type</th>
                                      <th>Added Date</th>
                                  </tr>
                              </thead>
                              <tbody id="testCasesdata">
                                  {% for build_details in builds %}
                                  <tr id="rowid{{ build_details.buildid }}">
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ build_details.buildid }}</td>
                                      <td>{{ build_details.build }}</td>
                                      <td>{{ build_details.type }}</td>
                                      <td>{{ build_details.executed_date }}</td>
                                      <!-- <td><a href="javascript:deletebuild({{ build_details.buildid }})"  class="btn btn-danger notika-btn-danger btn-xs waves-effect">Delete</a></td> -->
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="buildmodal" role="dialog">
        <div class="modal-dialog modal-large">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h2>Create Build</h2>
                    <br>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">Build</label>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Enter Build" id="buildId" name="buildId" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">Type</label>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Enter Type" id="type" name="type" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>-

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="createbuild();">Create</button>
                </div>
            </div>
        </div>
    </div>


    <script>
      function deletebuild(build_id){
          var confirmation = confirm('Are you sure?');
          var base_url = window.location.origin;
          if(confirmation == true){
              jQuery.ajax({
                  url: base_url+'/'+'deletebuild',
                  data:{'build_id': build_id},
                  success:function(data){
                      iziToast.success({title: 'Success',message: 'Build deleted successfully',position: 'topRight'});
                      $("#rowid"+build_id).remove();
                  }
              });
          }
      }

      function createbuild(){
        var base_url = window.location.origin;
        var build_id = $("#buildId").val();
        var type = $("#type").val();
        jQuery.ajax({
            url: base_url+'/'+'createbuild',
            data:{'build_id': build_id,'type': type},
            success:function(data){
                $("#buildmodal").modal('toggle');
                iziToast.success({title: 'Success',message: 'Build Added successfully',position: 'topRight'});
                location.reload();
            }
        });
      }
    </script>

{% endblock %}
