{% for build_details in builds %}
  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
      <div id="piechart{{ build_details.id }}" style="width: 350px; height: 200px;"></div>
    </div>
  </div>
{% endfor %}


{% for build_details in builds %}
<script>
  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Type', 'Count'],
          ['Pass',     {{ build_details.pass }}],
          ['Flaky',      {{ build_details.flaky }}],
          ['Fail',  {{build_details.fail }}]
        ]);

        var options = {
          title: '{{ build_details.build }}({{ build_details.executed_date }})',
          colors: ['green','orange','red']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart{{ build_details.id }}'));

        chart.draw(data, options);
      }
</script>
{% endfor %}
