{% extends 'includes.html' %}
{% load static %}
{% block content %}

<style>
.sale-statictic-area{
  background: #fff !important;
}
.realtime-statictic-area{
  background: #fff !important;
}
.normal-table-list.mg-t-30{
  border: 1px solid rgba(0,0,0,.12) !important;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #fff !important;
}
.changecolor{
      color: #616161 !important;
}
div#data-table-basic_filter {
    display: none;
}
</style>
    <!-- Start Sale statictic area-->
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert" style="width:500px;margin:auto !important" id="flashmessage">
            {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="loader"></div>
    <div class="sale-statictic-area">
        <div class="container">
            <div class="row">
                  <div class="col-lg-12 col-md-8 col-sm-7 col-xs-12">
                    </br>
                    <form method="post" id="searchform">{% csrf_token %}
                    <div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group nk-datapk-ctm form-elet-mg" id="data_1">
                    <div class="input-group date nk-int-st">
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control" placeholder="Select Date" id="builddate" name="builddate" autocomplete="off">
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                    <div class="nk-int-st">
                    <input type="text" class="form-control" placeholder="Enter Build" id="buildname" name="buildname" autocomplete="off">
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                    <div class="nk-int-st">
                    <button class="btn btn-info info-icon-notika waves-effect" style="margin-left: 5px;" type="button" onclick="refreshfields();"><i class="notika-icon notika-close"></i></button>
                    <button class="btn btn-primary notika-btn-primary waves-effect" type="button" onclick="searchbuild();">Submit</button>
                    </div>
                    </div>
                    </div>
                    </form>
                    </br>
                  <div class="normal-table-list mg-t-30">

                      {% if builds %}
                      <div class="bsc-tbl-hvr">
                        <div class="row">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Build</th>
                                      <th>Executed Date</th>
                                      <th>Total</th>
                                      <th>Pass</th>
                                      <th>Fail</th>
                                      <th>Flaky</th>
                                      <th>Device/ OS</th>
                                      <th>Bugs</th>
                                      <!-- <th>Regression</th> -->
                                  </tr>
                              </thead>
                              <tbody id="search_build_data">
                                  {% for build_details in builds %}
                                  <tr>
                                      <td>{{build_details.build}}</td>
                                      <td>{{build_details.executed_date}}</td>
                                      <td>{{build_details.total}}</td>
                                      <td>{{build_details.pass}}</td>
                                      <td>{{build_details.fail}}</td>
                                      <td>{{build_details.flaky}}</td>
                                      <td>{{build_details.device_name}}/ {{build_details.device_os}}</td>
                                      <td>{{build_details.bugs}}</td>
                                      <!-- <td>{% if forloop.counter == 1 %} b/12234 {% endif %}</td> -->
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale statictic area-->

    <div id="piecharts_div">
    {% for build_details in builds %}
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
      <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
        <div id="piechart{{ build_details.id }}" style="width: 350px; height: 200px;"></div>
      </div>
    </div>
    {% endfor %}
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-8 col-sm-7 col-xs-12">
      </br>
          {% if buildscount >= 1 %}
          <button class="btn btn-info notika-btn-info waves-effect" onclick="exportpdf();"  style="float:right">Export PDF</button>
          <div class="form-group"  id="duilds_dropdown_div" style="width: 480px;">
          <div class="nk-int-st">
          <select class="form-control"  id="build_dropdown" name="build_dropdown" onchange="testcases_build()">
          <option value="">Select Build</option>
          {% for build_details in builds %}
          <option value="{{build_details.id}}" data-id="{{build_details.build}}">{{build_details.build}}</option>
          {% endfor %}
          </select>
          </div>
          </div>
          {% endif %}
      </div>
    </div>
  </div>

    <!-- Start Realtime sts area-->
    <div class="realtime-statictic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="data-table-list" >
                      <div class="table-responsive">
                        <div style="position:absolute !important"><h4 id="build_beside_search"></h4></div>
                          <table id="data-table-basic" class="table table-striped" style="margin-top: 35px;">
                              <thead>
                                  <tr>
                                      <th>SNO</th>
                                      <th>Feature</th>
                                      <th>Title/ Objective</th>
                                      <th>Status</th>
                                      <th>Priority</th>
                                      <th>Execution Time</th>
                                      <th>Bug Id</th>
                                      <th>Server Logs</th>
                                      <th>Device Logs</th>
                                  </tr>
                              </thead>
                              <tbody id="testCasesdata">
                                  {% for row in test_details %}
                                  {% if row.status == 1 %}
                                  <tr style="background:#86ff84">
                                  {% else %}
                                  <tr style="background:#ff9b9b">
                                  {% endif %}
                                      <td class="changecolor"></td>
                                      <td class="changecolor"><a href="javascript:" onclick="get_test_steps({{row.test_case_id}})">{{row.feature}}</a></td>
                                      <td class="changecolor">{{row.testname}}</td>
                                      <td class="changecolor">
                                        {% if row.status == 1%}
                                        Pass
                                        {% else %}
                                        Fail
                                        {% endif %}
                                      </td>
                                      <td class="changecolor">{{row.priority}}</td>
                                      <td class="changecolor">{{row.execution_time}}</td>
                                      <td class="changecolor">{{row.bugid}}</td>
                                      <td class="changecolor"><a href="#">Download</a></td>
                                      <td class="changecolor"><a href="#">Download</a></td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModalthree" role="dialog">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>Test Steps</h2>
                <!-- <img src="{% static 'json_images/autocomplete_preview_layout_DAT127Modified.png' %}" alt="My image"> -->
                <div style="text-align:center" id="trload"></div>
                <table class="table">
                <thead>
                <tr>
                <th>Step Name</th>
                <th>Status</th>
                <th >Screen generated</th>
                <th>Screen diff</th>
                <th>Error Message</th>
                </tr>
                </thead>
                <tbody id="testresults_data">

                </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <!-- End Realtime sts area-->
    {% block script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% for build_details in builds %}
    <script>
      google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

            var data = google.visualization.arrayToDataTable([
              ['Type', 'Count'],
              ['Pass',     {{ build_details.pass }}],
              ['Flaky',      {{ build_details.flaky }}],
              ['Fail',  {{build_details.fail }}]
            ]);

            var options = {
              title: '{{ build_details.build }}({{ build_details.executed_date }})',
              colors: ['green','orange','red']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'+{{ build_details.id }}));

            chart.draw(data, options);
          }
    </script>
    {% endfor %}



    {% endblock %}


    {% endblock %}
