{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Automation Reports</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu/meanmenu.min.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/jvectormap/jquery-jvectormap-2.0.3.css' %}">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/notika-custom-icon.css' %}">
    <!-- Data Table JS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/wave/waves.min.css' %}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- bootstrap select CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-select/bootstrap-select.css' %}">

    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!-- Date picker css
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/datapicker/datepicker3.css' %}">

    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}">
    <script src="{% static 'js/iziToast.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/dropzone/dropzone.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>

<style>
.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}
.data-table-list{
    border: 1px solid rgba(0,0,0,.12) !important;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
}
body{
  font-family: "Helvetica","Arial",sans-serif !important;
}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background: #00c292 !important;
}
div#data-table-basic_info {
    visibility: hidden !important;
}
div#data-table-basic_paginate{
  visibility: hidden
}
.dataTables_wrapper .dataTables_length {
    visibility: hidden !important;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    visibility: hidden !important;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('https://cdn.dribbble.com/users/108390/screenshots/2882839/spinner-loop.gif') 50% 50% no-repeat rgb(249,249,249);
}
.stylepaginate.current.active{
  background: #00c292;
  color: #fff!important;
  padding: 0.5em 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  border-radius: 50%;
}
.stylepaginate.current{
  border-radius: 50%;
  background: #f1f1f1;
  color: #7E7E7E!important;
  padding: 0.5em 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
}
.nav.navbar-nav.notika-top-nav li a {
    font-size: 16px !important;
}
label.error{
    color: red;
    font-size: 14px;
    font-weight: normal;
}
</style>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <!--<a href="#"><img src="img/logo/logo.png" alt="Automation Reports" /></a>-->

                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="height: 50px;">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
<li class="nav-item"><a href="{% url 'importjson' %}"  aria-expanded="false" class="nav-link dropdown-toggle" style="top:-2px;height: 50px;">Import JSON</a></li>
<li class="nav-item"><a href="{% url 'uploadfile' %}"  aria-expanded="false" class="nav-link dropdown-toggle" style="top:-2px;height: 50px;">Upload File</a></li>
<li class="nav-item"><a href="{% url 'buildaction' %}"  aria-expanded="false" class="nav-link dropdown-toggle" style="top:-2px;height: 50px;">Builds</a></li>
<li class="nav-item"><a href="{% url 'updatestatus' %}"  aria-expanded="false" class="nav-link dropdown-toggle" style="top:-2px;height: 50px;">Update Build</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <!--<div class="mobile-menu-area">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                    <!--<div class="mobile-menu">-->
                        <!--<nav id="dropdown">-->
                            <!--<ul class="mobile-menu-nav">-->
                                <!--<li><a data-toggle="collapse" data-target="#Charts" href="#">Home</a>-->
                                    <!--<ul class="collapse dropdown-header-top">-->
                                        <!--<li><a href="index.html">Dashboard One</a></li>-->
                                        <!--<li><a href="index-2.html">Dashboard Two</a></li>-->
                                        <!--<li><a href="index-3.html">Dashboard Three</a></li>-->
                                        <!--<li><a href="index-4.html">Dashboard Four</a></li>-->
                                        <!--<li><a href="analytics.html">Analytics</a></li>-->
                                        <!--<li><a href="widgets.html">Widgets</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a data-toggle="collapse" data-target="#demoevent" href="#">Email</a>-->
                                    <!--<ul id="demoevent" class="collapse dropdown-header-top">-->
                                        <!--<li><a href="inbox.html">Inbox</a></li>-->
                                        <!--<li><a href="view-email.html">View Email</a></li>-->
                                        <!--<li><a href="compose-email.html">Compose Email</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a data-toggle="collapse" data-target="#democrou" href="#">Interface</a>-->
                                    <!--<ul id="democrou" class="collapse dropdown-header-top">-->
                                        <!--<li><a href="animations.html">Animations</a></li>-->
                                        <!--<li><a href="google-map.html">Google Map</a></li>-->
                                        <!--<li><a href="data-map.html">Data Maps</a></li>-->
                                        <!--<li><a href="code-editor.html">Code Editor</a></li>-->
                                        <!--<li><a href="image-cropper.html">Images Cropper</a></li>-->
                                        <!--<li><a href="wizard.html">Wizard</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a data-toggle="collapse" data-target="#demolibra" href="#">Charts</a>-->
                                    <!--<ul id="demolibra" class="collapse dropdown-header-top">-->
                                        <!--<li><a href="flot-charts.html">Flot Charts</a></li>-->
                                        <!--<li><a href="bar-charts.html">Bar Charts</a></li>-->
                                        <!--<li><a href="line-charts.html">Line Charts</a></li>-->
                                        <!--<li><a href="area-charts.html">Area Charts</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a data-toggle="collapse" data-target="#demodepart" href="#">Tables</a>-->
                                    <!--<ul id="demodepart" class="collapse dropdown-header-top">-->
                                        <!--<li><a href="normal-table.html">Normal Table</a></li>-->
                                        <!--<li><a href="data-table.html">Data Table</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a data-toggle="collapse" data-target="#demo" href="#">Forms</a>-->
                                    <!--<ul id="demo" class="collapse dropdown-header-top">-->
                                        <!--<li><a href="form-elements.html">Form Elements</a></li>-->
                                        <!--<li><a href="form-components.html">Form Components</a></li>-->
                                        <!--<li><a href="form-examples.html">Form Examples</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">App views</a>-->
                                    <!--<ul id="Miscellaneousmob" class="collapse dropdown-header-top">-->
                                        <!--<li><a href="notification.html">Notifications</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="alert.html">Alerts</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="modals.html">Modals</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="buttons.html">Buttons</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="tabs.html">Tabs</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="accordion.html">Accordion</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="dialog.html">Dialogs</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="popovers.html">Popovers</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="tooltips.html">Tooltips</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="dropdown.html">Dropdowns</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages</a>-->
                                    <!--<ul id="Pagemob" class="collapse dropdown-header-top">-->
                                        <!--<li><a href="contact.html">Contact</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="invoice.html">Invoice</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="typography.html">Typography</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="color.html">Color</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="login-register.html">Login Register</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="404.html">404 Page</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</nav>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->

    <!-- Main Menu area End-->

    <!--Pages information will render here -->
    {% block content %}
    {% endblock %}
    <!--Pages information will render stop here-->


    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p style="visibility:hidden">Copyright © 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{% static 'js/jquery-price-slider.js' %}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static 'js/meanmenu/jquery.meanmenu.js' %}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup/counterup-active.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="{% static 'js/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'js/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'js/jvectormap/jvectormap-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/flot/curvedLines.js' %}"></script>
    <script src="{% static 'js/flot/flot-active.js' %}"></script>
    <!-- knob JS
		============================================ -->
    <script src="{% static 'js/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'js/knob/jquery.appear.js' %}"></script>
    <script src="{% static 'js/knob/knob-active.js' %}"></script>
    <!--  wave JS
		============================================ -->
    <script src="{% static 'js/wave/waves.min.js' %}"></script>
    <script src="{% static 'js/wave/wave-active.js' %}"></script>
    <!--  todo JS
		============================================ -->
    <script src="{% static 'js/todo/jquery.todo.js' %}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{% static 'js/plugins.js' %}"></script>
	<!--  Chat JS
		============================================ -->
    <script src="{% static 'js/chat/moment.min.js' %}"></script>
    <script src="{% static 'js/chat/jquery.chat.js' %}"></script>
    <!-- Data Table JS
		============================================ -->
    <script src="{% static 'js/data-table/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/data-table/data-table-act.js' %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static 'js/main.js' %}"></script>
	<!-- tawk chat JS
		============================================ -->
    <!--<script src="{% static 'js/tawk-chat.js' %}"></script>-->

    <!-- datepicker JS
		============================================ -->
    <script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/datapicker/datepicker-active.js' %}"></script>

    <!-- bootstrap select JS
		============================================ -->
    <script src="{% static 'js/bootstrap-select/bootstrap-select.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>

    <!-- Dashboard Script JS
    ============================================ -->
    <script src="{% static 'js/dashboard_script.js' %}"></script>

    <script src="{% static 'jspdf.min.js' %}"></script>
    <script src="{% static 'jspdf.plugin.autotable.min.js' %}"></script>
    <script src="{% static 'tableHTMLExport.js' %}"></script>

    <script src="{% static 'js/dropzone/dropzone.js' %}"></script>

    <script>
    $(document).ready(function(){
    document.getElementById("build_dropdown").selectedIndex = "1";
    testcases_build();
    $('#flashmessage').delay(5000).fadeOut(800);
    })
    $(window).load(function(){
     $('.loader').fadeOut();
    });
    </script>


<script type="text/javascript">
   function exportpdf(){
      var pdfname = $("#build_beside_search").html()
      $("#data-table-basic").tableHTMLExport({type:'pdf',filename:pdfname+'.pdf'});
   }
</script>

</body>

</html>
