{% extends 'base.html' %}
{% block content %}
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="mdl-color--white mdl-grid">
            <div id="piechart" style="width: 300px; height: 200px;"></div>
            {% if recent %}

            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" align="center">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Build</th>
                <th class="mdl-data-table__cell--non-numeric">Executed Date</th>
                <th class="mdl-data-table__cell--non-numeric">Total</th>
                <th class="mdl-data-table__cell--non-numeric">Pass</th>
                <th class="mdl-data-table__cell--non-numeric">Fail</th>
                <th class="mdl-data-table__cell--non-numeric">Flaky</th>
                <th class="mdl-data-table__cell--non-numeric">Bugs</th>
                <th class="mdl-data-table__cell--non-numeric">Device/ OS</th>
              </tr>
            </thead>
              <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.build}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.executed_date}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.total}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.success}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.fail}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.flaky}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.bugs}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{execution_details.test_device}}/ {{execution_details.device_os}}</td>
            </tr>
              </tbody>
            </table>


            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" align="center" style="width:100%">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Feature</th>
                <th class="mdl-data-table__cell--non-numeric">Title/ Objective</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th class="mdl-data-table__cell--non-numeric">Priority</th>
                <th class="mdl-data-table__cell--non-numeric">Execution Time</th>
                <th class="mdl-data-table__cell--non-numeric">Bug Id</th>
                <th class="mdl-data-table__cell--non-numeric">Server Logs</th>
                <th class="mdl-data-table__cell--non-numeric">Device Logs</th>
              </tr>
            </thead>
              <tbody>
            {% for row in test_details%}
            {% if row.test_status == 1%}
            <tr style="background:#86ff84">
              {% else %}
              <tr style="background:#ff9b9b">
              {% endif %}
              <td class="mdl-data-table__cell--non-numeric">{{row.test_case.test_feature}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{row.test_case.test_name}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                {% if row.test_status == 1%}
                Pass
                {% else %}
                Fail
                {% endif %}
              </td>
              <td class="mdl-data-table__cell--non-numeric">{{row.test_case.test_priority}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{row.execution_time}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{row.bugid}}</td>
              <td class="mdl-data-table__cell--non-numeric"><a href="#">Download</a></td>
              <td class="mdl-data-table__cell--non-numeric"><a href="#">Download</a></td>
            </tr>

            {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </section>
        </div>

{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Type', 'Count'],
          ['Pass',     {{execution_details.success}}],
          ['Flaky',      {{execution_details.flaky}}],
          ['Fail',  {{execution_details.fail}}]
        ]);

        var options = {
          title: 'Execution Status'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>

{% endblock %}
{% endblock %}
