{% extends 'includes.html' %}
{% block content %}

<style>
.sale-statictic-area{
  background: #fff !important;
}
.form-example-area{
  background: #fff !important;
}
.realtime-statictic-area{
  background: #fff !important;
}
.normal-table-list.mg-t-30{
  border: 1px solid rgba(0,0,0,.12) !important;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #fff !important;
}
.changecolor{
      color: #616161 !important;
}
div#data-table-basic_filter {
    display: none;
}
.space{
  margin:8px;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid #008C7D;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  margin-right: 10px;
  margin-top: 3px;
}
input[type="checkbox"]:checked + label:before {
  background: #008C7D;
  color: #fff;
  content: "\2713";
  text-align: center;
  margin-right: 10px;
  margin-top: 3px;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
label {
    display: inline !important;  
}
</style>


    <div class="form-example-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap mg-t-30">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h2>Update Test Case Status</h2>
                        </div>
                        </br>
                        <div class="form-example-int form-horizental">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        <label class="hrzn-fm">Build ID</label>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                        <div class="nk-int-st">
                                            <input type="text" class="form-control input-sm" id="buildname" name="buildname" autocomplete="off" placeholder="Enter Build Id">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-7 col-sm-7 col-xs-12">
                                      <button class="btn btn-primary notika-btn-primary waves-effect" onclick="build_testcases();">Submit</button>
                                      <button class="btn btn-info info-icon-notika waves-effect" onclick="window.history.back();">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale statictic area-->

    <div class="realtime-statictic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="data-table-list" >
                      <div class="table-responsive">
                        <div style="position:absolute !important"><h4 id="build_beside_search"></h4></div>
                          <table id="data-table-basic" class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>SNO</th>
                                      <th>Build</th>
                                      <th>Feature</th>
                                      <th>Title/ Objective</th>
                                      <th>Status</th>
                                      <th>Bug Id</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody id="testCasesdata">
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!--- Modal to show test steps----->
    <div class="modal fade" id="myModalthree" role="dialog">
        <div class="modal-dialog modal-large">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h2>Test Steps</h2>
                    <div style="text-align:center" id="trload"></div>
                    <table class="table">
                    <thead>
                    <tr>
                    <th>Step Name</th>
                    <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="testresults_data">

                    </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="ustatusmodal" role="dialog">
        <div class="modal-dialog modal-large">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h2>Update Test Case Status</h2>
                    </br>
                    <div style="text-align:center;top: 80px;position: relative;color: #008C7D;" id="testcasesload"></div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">Build ID</label>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <div class="nk-int-st" id="display_buildname">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">Test Case</label>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <div class="nk-int-st" id="display_testcase">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">Bug ID</label>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Enter Bug Id" id="bugid" name="bugid" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">Bug Status</label>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Enter Bug Status" id="bugstatus" name="bugstatus" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">Status</label>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <div class="nk-int-st" id="display_testcase">
                                  <select class="form-control"  id="testcase_status" name="testcase_status" onchange="getsteps();">
                                  <option value="">Select Status</option>
                                  <option value="1">Pass</option>
                                  <option value="0">Fail</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="build_id" id="build_id" />
                        <input type="hidden" name="test_case_id" id="test_case_id" />
                        <input type="hidden" name="feature" id="feature" />
                        <input type="hidden" name="testcase_sno" id="testcase_sno" />
                        <input type="hidden" name="device_id" id="device_id" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="updateteststatus();">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!--- Modal to show test steps----->
    <div class="modal fade" id="tstepsmodel" role="dialog">
        <div class="modal-dialog modal-large">
            <div class="modal-content" style="width: 600px;margin: auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="teststepsData">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
