{% extends 'includes.html' %}
{% block content %}

<style>
.sale-statictic-area{
  background: #fff !important;
}
.form-example-area{
  background: #fff !important;
}
.realtime-statictic-area{
  background: #fff !important;
}
.normal-table-list.mg-t-30{
  border: 1px solid rgba(0,0,0,.12) !important;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #fff !important;
}
.changecolor{
      color: #616161 !important;
}
div#data-table-basic_filter {
    display: none;
}
.space{
  margin:8px;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid #008C7D;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  margin-right: 10px;
  margin-top: 3px;
}
input[type="checkbox"]:checked + label:before {
  background: #008C7D;
  color: #fff;
  content: "\2713";
  text-align: center;
  margin-right: 10px;
  margin-top: 3px;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
label {
    display: inline !important;
}
.table.table-striped>tbody>tr>td, .table.table-striped>tbody>tr>th, .table.table-striped>tfoot>tr>td, .table.table-striped>tfoot>tr>th, .table.table-striped>thead>tr>td, .table.table-striped>thead>tr>th {
    font-size: 14px !important;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #fff !important;
}
.changecolor{
      color: #616161 !important;
}
div#data-table-basic_filter {
    display: none;
}
body {
    background-color: #fff !important;
}
.customsubmit{
    float: right !important;
    background: #00867B !important;
}
</style>


    <div class="form-example-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap mg-t-30">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h2 style="float:left;color: #00867B !important;">Upload File</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale statictic area-->

    <div class="realtime-statictic-area">
        <div class="container">
            <div class="row">
                <form action="/upload/"  id="demo1-upload" method="POST" enctype="multipart/form-data">{% csrf_token %}
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group ic-cmp-int">
                    <div class="form-ic-cmp"></div>
                    <div class="nk-int-st">
                    <input type="file" class="form-control" name="file">
                    </div>
                    </div>

                    <div class="form-group ic-cmp-int">
                      <div class="form-ic-cmp"></div>
                      <div class="nk-int-st">
                    <span>File Name Format (Example): 2019-03-20_Nexus6P_1.0.0</span><br>
                      </div>
                    </div>

                    <button class="btn btn-success notika-btn-success waves-effect customsubmit" type="submit">Upload</button>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  </div>
                </form>

              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="dropdone-nk mg-t-30">
                      <div class="cmp-tb-hd">
                          <h2>Drag and Drop File To Upload</h2>
                      </div>
                      <div id="dropzone1" class="multi-uploader-cs">
                          <form action="/upload/" class="dropzone dropzone-nk needsclick" id="demo1-upload">{% csrf_token %}
                              <div class="dz-message needsclick download-custom">
                                  <i class="notika-icon notika-cloud"></i>
                                  <h2>Drop files here or click to upload.</h2>
                              </div>
                              <button class="btn btn-success notika-btn-success waves-effect customsubmit" type="submit">Upload</button>
                          </form>
                      </div>
                  </div>
              </div> -->
            </div>
        </div>
    </div>







{% endblock %}
